<ul class="list-group">
    <li class="list-group-item">
        <h6>Model</h6> {{report.model}}</li>
    <li class="list-group-item">
        <h6>Сериен номер</h6>{{report.sn}}</li>
    <li class="list-group-item">
        <h6>Гаранция</h6>{{report.warranty}}</li>
    <li class="list-group-item">
        <h6>Дефект</h6>{{report.defect}}</li>
    <li class="list-group-item">
        <h6>Части</h6>{{report.parts}}</li>
    <li class="list-group-item">
        <h6>Клиент</h6>{{report.client}}</li>
    <li class="list-group-item">
        <h6>Дата на приемане</h6>{{report.reportDate}}</li>
    <li class="list-group-item">
        <h6>Дата на издаване</h6>{{report.endReqDate}}</li>
    <li class="list-group-item">
        <h6>Забележка</h6>{{report.notes}}</li>
</ul>